config/rails_best_practices.yml
config/database.yml
rails_best_practices_output.html
.bundle
config/deploy.rb
db/*.sqlite3
public/html_contents/
public/zh/
public/en/
log/
tmp/
solr/data/
solr/conf/
coverage/
